@use "@styles/variables" as *;

.wrapper {
  background-color: $bg-accent-color;
  color: $accent-color-dark;
}

.content {
  padding-block: max(3vw, 30px);
}

@media (max-width: $mobile) {
  .video {
    width: 100%;
  }
}
