@use "@styles/variables" as *;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
  padding-bottom: max(3vw, 30px);
  gap: max(3vw, 20px);

  a {
    align-self: center;
  }

  @media (max-width: $mobile) {
    a {
      align-self: stretch;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: min(20px, 2vw);
  width: 100%;

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
  }

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);

    img {
      aspect-ratio: 1.5 / 1;
    }
  }

  @media (max-width: 512px) {
    grid-template-columns: 1fr;
  }
}

.title {
  font-size: calc(3 * 0.01 * min(100vh, 900px) + 1rem);
  color: $accent-color-dark;
  text-align: center;

  @media (max-width: $mobile) {
    font-size: calc(($heading-1-size-value - 1) * 1.5vw + 1rem);
    line-height: 120%;
  }
}
