@use "@styles/variables" as *;

#button {
  display: none;
}

.label {
  display: inline-block;
  width: 36px;
  height: 14px;
  cursor: pointer;
  position: relative;
}

.label span {
  mix-blend-mode: difference;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $accent-color-semi;
  border-radius: 1px;
  left: 0;
  transition: transform 0.15s ease-in-out, top 0.15s ease-in-out,
    bottom 0.15s ease-in-out, background-color 0.15s ease-in-out,
    height 0.15s ease-in-out;
}

#button:checked + .label span {
  background-color: $accent-color-dark;
  height: 1px;
}

.label span:nth-child(1) {
  top: 0;
}

// .label span:nth-child(2) {
//   top: 13px;
// }

.label span:nth-child(2) {
  bottom: 0;
}

#button:checked + .label span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

// #button:checked + .label span:nth-child(2) {
//   opacity: 0;
// }

#button:checked + .label span:nth-child(2) {
  transform: rotate(-45deg);
  bottom: 5px;
}
