@use "@styles/variables" as *;

.intro {
  background-image: url("/main/hero.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  color: $accent-color-light;
}

.content {
  padding-block: 15rem;
}

.introTitle {
  text-align: center;
  font-size: calc(($heading-1-size-value - 1) * 1vw + 1rem);
  line-height: 120%;
  user-select: none;

  @media (max-width: $mobile) {
    font-size: calc(($heading-1-size-value - 1) * calc(0.012 * 900px) + 1rem);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: max(50px, 8vw);
}

@keyframes slide-in-fwd-bottom {
  0% {
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.svgContainer {
  display: inline-block;
  height: 1.4em;
  vertical-align: middle;
}

.harmonySvg {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
