@use "@styles/variables" as *;

.intro {
  background-image: url("@assets/hero.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.content {
  padding-block: 15rem;
}

.introTitle {
  text-align: center;
  font-size: calc(($heading-1-size-value - 1) * 1vw + 1rem);
  line-height: 120%;

  // & > p:nth-of-type(1) {
  //   font-size: 2.5vw;
  // }
  //   & > p:nth-of-type(2) {
  //   font-size: 2.8vw;
  // }
  //   & > p:nth-of-type(3) {
  //   font-size: 2.8vw;
  // }

  @media (max-width: $mobile) {
    font-size: calc(
      ($heading-1-size-value - 1) * calc(0.012 * min(100vh, 900px)) + 1rem
    );
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vw;
}

@keyframes slide-in-fwd-bottom {
  0% {
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

// animista.net
.animatedIn {
  -webkit-animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

// TODO Анимация интро и семейства шрифтов и кегель
