@use "@styles/variables" as *;
@use "@styles/placeholders" as *;

.container {
  flex: 0 0 calc(33.333% - 20px);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: flex;
}

.imageContainer {
  @extend %bd-radius;
  overflow: hidden;
  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    display: block;
    pointer-events: none;
  }
}

.description {
  color: $accent-color-dark;
  padding-block: 15px;
  flex-grow: 1;
  line-height: 140%;
}

