@use "@styles/variables" as *;
@use "@styles/placeholders" as *;

.container {
  flex: 0 0 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.imageContainer {
  overflow: hidden;
  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    display: block;
    pointer-events: none;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 16px;
  color: $accent-color-dark;
  line-height: 140%;
  gap: 16px;
  text-wrap: pretty;
  hyphens: auto;
  overflow-wrap: break-word;
  white-space: unset;
}
