@use "@styles/variables" as *;

.viewport {
  width: 100%;
  overflow: hidden;
  background-color: $bg-accent-color;
  position: relative;
}

.track {
  display: flex;

  white-space: nowrap;
  will-change: transform;
}

.item {
  flex: 0 0 auto;
}

.text {
  color: $accent-color-dark;
  font-size: clamp(4.375rem, 2.0673rem + 4.8077vw, 6.875rem);
  margin: 0;
  white-space: nowrap;
}

@media (prefers-reduced-motion: reduce) {
  .track {
    animation: none !important;
  }
}
