@use "@styles/variables" as *;

.outContainer {
  position: relative;
  @media (max-width: 1200px) {
    padding-inline: 20px;
  }
}

.navWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;

  @media (max-width: 512px) {
    & > button {
      transform: initial;
      position: static;
      display: inline-block;
    }
  }
}
