%bd-radius {
  border-radius: 0.8rem;
}

%header-logo {
  @media (min-width: 2160px) {
    font-size: calc(var(--heading-1-size-value) * 1rem);
  }
}

%hover-opacity {
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

%hover-decorated-line {
  position: relative;
  transition: 0.2s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }

  &:hover::after {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
}
