@use "./nullstyles" as *;
@use "./variables" as *;
@use "./placeholders" as *;

@font-face {
  font-family: "Betmo Regular Cyr";
  src: url("../../assets/fonts/Betmo\ Regular\ Cyr.otf");
  font-weight: normal;
}

@font-face {
  font-family: "HSESans-Thin";
  src: url("../../assets/fonts/HSESans-Thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "HSESans-Regular";
  src: url("../../assets/fonts/HSESans-Regular.otf");
  font-weight: 400;
}

// @-webkit-keyframes heartbeat {
//   from {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     -webkit-transform-origin: center center;
//     transform-origin: center center;
//     -webkit-animation-timing-function: ease-out;
//     animation-timing-function: ease-out;
//   }
//   10% {
//     -webkit-transform: scale(0.95);
//     transform: scale(0.95);
//     -webkit-animation-timing-function: ease-in;
//     animation-timing-function: ease-in;
//   }
//   17% {
//     -webkit-transform: scale(0.99);
//     transform: scale(0.99);
//     -webkit-animation-timing-function: ease-out;
//     animation-timing-function: ease-out;
//   }
//   33% {
//     -webkit-transform: scale(0.91);
//     transform: scale(0.91);
//     -webkit-animation-timing-function: ease-in;
//     animation-timing-function: ease-in;
//   }
//   45% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     -webkit-animation-timing-function: ease-out;
//     animation-timing-function: ease-out;
//   }
// }
// @keyframes heartbeat {
//   from {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     -webkit-transform-origin: center center;
//     transform-origin: center center;
//     -webkit-animation-timing-function: ease-out;
//     animation-timing-function: ease-out;
//   }
//   10% {
//     -webkit-transform: scale(0.95);
//     transform: scale(0.95);
//     -webkit-animation-timing-function: ease-in;
//     animation-timing-function: ease-in;
//   }
//   17% {
//     -webkit-transform: scale(0.99);
//     transform: scale(0.99);
//     -webkit-animation-timing-function: ease-out;
//     animation-timing-function: ease-out;
//   }
//   33% {
//     -webkit-transform: scale(0.91);
//     transform: scale(0.91);
//     -webkit-animation-timing-function: ease-in;
//     animation-timing-function: ease-in;
//   }
//   45% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     -webkit-animation-timing-function: ease-out;
//     animation-timing-function: ease-out;
//   }
// }

body {
  margin: 0;
  font-family: $fontFamily;
  font-size: 16px;
  color: $accent-color-light;
  position: relative;
  background-color: $bg-base-color;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  padding-inline: 20px;
  max-width: $maxWidthContainer;
  width: 100%;
}

.redirect-link {
  @extend %bd-radius;

  display: inline-block;
  padding: 1rem 1.5rem;
  line-height: 100%;
  text-align: center;

  &.light {
    background-color: $accent-color-light;
    color: $accent-color-dark;
  }

  &.dark {
    background-color: $accent-color-dark;
    color: $bg-accent-color;

    &.bg {
      color: $bg-base-color;
    }
  }
}

svg {
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.section {
  min-height: 100%;
  margin-bottom: min(15%, 160px);
}

// .attention-pulse {
//   -webkit-animation: heartbeat 1.5s ease-in-out both;
//   animation: heartbeat 1.5s ease-in-out both;
// }

.accent-calligraph-text {
  font-family: "Betmo Regular Cyr";
  font-size: 1.2em;
}

// TODO Поменять шрифты
